$loading-size: 8em;
$loading-color: #111111;

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    color: $loading-color;

    .loading-logo {
        position: relative;
        top: - $loading-size;
        width: $loading-size;
        height: $loading-size;
        overflow: visible;
        stroke-width: .5em;
        fill: none;
        stroke: currentColor;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 325;
        animation: dash 1.5s linear infinite
    }

    .loading-background {
        width: $loading-size;
        height: $loading-size;
        overflow: visible;
        fill: none;
        stroke-width: 8px;
        stroke: currentColor;
        opacity: .3;
        stroke-linecap: round;
        stroke-linejoin: round;
    }
}

@keyframes dash {
    to {
        stroke-dashoffset: 650;
    }
}
